<div class="modal-header">
    <h1 id="modalViewTaskLabel" class="modal-title font-thin h3"> รายละเอียดผู้ใช้งาน </h1>
    </h5>
    <button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body p-3 p-lg-4">

    <div class="row">
        <div class="col-md-12">
            <div class="row form-group">
                <label class="col-md-3 control-label">User Line ID</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" ng-model="item.user_id" required placeholder="User Line ID"
                        required maxlength="50" disabled>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-3 control-label">User Line Name</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" ng-model="item.user_name" required
                        placeholder="User Line Name" required maxlength="50" disabled>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-3 control-label">User Alias</label>
                <div class="col-md-8">

                    <input type="text" class="form-control" ng-model="item.user_alias" required placeholder="Email"
                        required maxlength="50">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="active" ng-model="item.active"
                            ng-true-value="1" ng-false-value="0">
                        <label class="custom-control-label" for="active">ใช้งาน</label>
                    </div>
                </div>
            </div>

            <img src="{{item.pictureUrl}}" alt="" style="width:350px;height:350px; align-content: center;">

        </div>

    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="save()">บันทึก</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="cancel()">ยกเลิก</button>
</div>