<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">ngGrid</h1>
</div>
<div class="wrapper-md" ng-controller="GridDemoCtrl">
    <div class="panel panel-default">
        <div class="panel-heading ">

            <div class="row">
                <div class="col-md-9">ngGrid</div>
                <div class="col-md-3" style="text-align:right">
                    <input type="text" class="form-control input-sm"
                           ng-enter="EnterSearch(searchText)"
                           ng-model="searchText" placeholder="Filter text" />
                </div>
            </div>


        </div>
        <div class="table-responsive">

            <div ng-grid="gridOptions" style="min-height:420px"></div>

        </div>
    </div>
</div>